.first-page,
.second-page,
.third-page,
.fourth-page,
.fifth-page{
	height:100vh;
	width:100vw;
}


.first-page{
	background-color:#d50000;
}
.second-page{
	background-color: #00acc1;
	overflow: hidden;
	padding: 10%;
}
.third-page{
	background-color:#ffa000;
	padding:1%;
}
.fourth-page{
	background-color:#5c6bc0; 
	padding:10%;
}
.fifth-page{
padding:20%;
}

.count-box{
	background-color: white;
	padding:1%;
	height:auto;
	width:auto;
	border-radius:3px;
	transition: box-shadow 	0.3s;
	border:1px solid #039be5;
	text-align: center;
}

.owl-carousel{
	background-color: transparent;
	height:auto;
	width:auto;
	border-radius: 3px;
}

.owl-carousel .item{
  width: 60%;
  padding:0;
  margin:0;
}

.carousel-inner{
	text-align: center;
}

@media(max-width:768px){
	.carousel-item img{
		width:100%;
		height: auto;
	}

	.owl-carousel{
		height: 100%;
		width:100%;
	}
}


/*.circle{
	height:10vh;
	width:5vw;
	border-radius: 200%;
	background-color:white;
	border:1px solid #039be5;
	box-shadow: none;
	transition: box-shadow 	0.3s;
	padding:2%;
}*/
